<form  class="w=50" *ngIf="formXe" [formGroup]="formXe" (ngSubmit)="createCoach()">
  <div class="form-group" >
    <label for="code">So Xe</label>
    <input type="number" id="code"  class="form-control"formControlName="code">
  </div>

  <div class="form-group">
    <label for="typeOfCoach"></label>
    <select class="form-control"  id="typeOfCoach" formControlName="typeOfCoach">
      <option *ngFor="let t of typeOfCoaches" [ngValue]="t">{{t.name}}</option>
    </select>
  </div>

  <div class="form-group" >
    <label for="companyName">companyName</label>
    <input type="text" id="companyName" class="form-control" formControlName="companyName">
    <p class="text-danger"
       *ngIf="formXe.controls.companyName.touched&&formXe.controls.companyName?.errors?.required"> khong duoc de trong </p>
  </div>

  <div class="form-group">
    <label for="departure">departure</label>
    <select class="form-control" formControlName="departure" id="departure">
      <option>Da Nang</option>
      <option>Hue</option>
      <option>Quang Nam</option>
    </select>
    <p class="text-danger"
       *ngIf="formXe.controls.departure.touched&&formXe.controls.departure?.errors?.required"> khong duoc de trong </p>
  </div>
  <div class="form-group">
    <label for="destination">destination</label>
    <select class="form-control" formControlName="destination" id="destination">
      <option>Da Nang</option>
      <option>Hue</option>
      <option>Quang Nam</option>
    </select>
    <p class="text-danger"
       *ngIf="formXe.controls.destination.touched&&formXe.controls.destination?.errors?.required"> khong duoc de trong </p>
  </div>
  <div class="form-group" >
    <label for="phoneNumber">phoneNumber</label>
    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
    <p class="text-danger"
       *ngIf="formXe.controls.phoneNumber.touched&&formXe.controls.phoneNumber?.errors?.required"> khong duoc de trong </p>

    <p class="text-danger"
       *ngIf="formXe.controls.phoneNumber.touched&&formXe.controls.phoneNumber?.errors?.pattern"> chua dung dinh dang </p>
  </div>
  <div class="form-group" >
    <label for="email">email</label>
    <input type="text" class="form-control" id="email" formControlName="email">
    <p class="text-danger"
       *ngIf="formXe.controls.email.touched&&formXe.controls.email?.errors?.required"> khong duoc de trong </p>
    <p class="text-danger"
       *ngIf="formXe.controls.email.touched&&formXe.controls.email?.errors?.email"> chua dung dinh dang</p>
  </div>
  <div class="form-group" >
    <label for="departureTime">departureTime</label>
    <input type="text" class="form-control" id="departureTime" formControlName="departureTime">
    <p class="text-danger"
       *ngIf="formXe.controls.departureTime.touched&&formXe.controls.departureTime?.errors?.required"> khong duoc de trong </p>
  </div>
  <div class="form-group" >
    <label for="arrivalTime">arrivalTime</label>
    <input type="text" class="form-control" id="arrivalTime" formControlName="arrivalTime">
    <p class="text-danger"
       *ngIf="formXe.controls.arrivalTime.touched&&formXe.controls.arrivalTime?.errors?.required"> khong duoc de trong </p>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>


</form>
