<!--<app-calculator></app-calculator>-->
<!--<hr width="50%"-->
<!--    color="red"-->
<!--    align="center">-->
<!--<hr width="50%"-->
<!--    color="red">-->
<!--<app-color></app-color>-->
<!--<hr width="50%"-->
<!--    color="red"-->
<!--    align="center">-->
<!--<hr width="50%"-->
<!--    color="red">-->
<!--<app-navbar></app-navbar>-->
<app-article></app-article>
<!--<app-footer ></app-footer>-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->

