<h2 class="text-center fw-bold  my-3">DANH SÁCH HỢP ĐỒNG</h2>
<div class="p-3">
  <table class="table table-striped">
    <tr>
      <th class="text-center">No.</th>
      <th>Dịch vụ</th>
      <th>Tên khách hàng</th>
      <th>Ngày bắt đầu</th>
      <th>Ngày kết thúc</th>
      <th>Tiền đặt cọc</th>
    </tr>
    <tr *ngFor="let c of contracts | paginate: { itemsPerPage: 1, currentPage: p } ;index  as i ">
      <td class="text-center" >{{i}}</td>
      <td>{{c.facility.name}}</td>
      <td >{{c.customer.name}}</td>
      <td >{{c.startDate}}</td>
      <td >{{c.endDate}}</td>
      <td >{{c.deposit}}</td>
      <td class="text-center">
        <button><span class="fa-solid fa-plus  h6 m-auto">+</span>
        </button>
        <button><span>Danh sách dịch vụ đi kèm</span>
        </button>
      </td>
    </tr>
  </table>
</div>
<div >
</div>


