<div>
  <h1>List Customer</h1>
  <button type="button" class="btn btn-warning"><a>Add Customer</a></button>
  <table class="table table-striped" id="tableCustomer">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Customer type</th>
      <th scope="col">Name</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Id_card</th>
      <th scope="col">Phone number</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Nguyen Van A</td>
      <td></td>
      <td></td>
      <td>Nam</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="text-center">
        <a>
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-user-pen text-light h6 m-auto px-2">Edit</span>
          </button>
        </a>
      </td>
      <td class="text-center">
        <a>
          <button class="btn btn-success btn-outline-secondary btn-sm">
            <span class="fa-solid fa-user-pen text-light h6 m-auto px-2">Delete</span>
          </button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
