<div class="d-flex justify-content-center">
  <form class="w-50 border border-2 border-dark rounded p-3">
    <div class="mb-3">
      <label for="customerId" class="form-label">Id</label>
      <input type="number" class="form-control" id="customerId">
    </div>

    <div class="mb-3">
      <label for="customerName" class="form-label">Name</label>
      <p style="color: red"></p>
      <input type="text" class="form-control" id="customerName" >
    </div>

    <div>
      <label for="customerType" class="form-label">customerType</label>
      <p style="color: red" ></p>
      <select  class="form-select" aria-label="Default select example" id="customerType" >
        <option></option>
      </select>
    </div>

    <div class="mb-3">
      <label for="customerBirthday" class="form-label">customerBirthday</label>
      <p style="color: red" ></p>
      <input type="date" class="form-control" id="customerBirthday">
    </div>

    <div class="mt-3 form-group">
      <label class="h6">Gender</label>
      <p style="color: red" ></p>
      <div class="d-flex">
        <label class="d-block me-4">
          <input type="radio" /> Nam
          <i class="fa-solid fa-mars"></i>
        </label>

        <label class="d-block me-4">
          <input type="radio"  /> Nữ
          <i class="fa-solid fa-venus"></i>
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label for="customerIdCard" class="form-label">customerIdCard</label>
      <p style="color: red" ></p>
      <input type="number" class="form-control" id="customerIdCard" >
    </div>

    <div class="mb-3">
      <label for="customerPhone" class="form-label">customerPhone</label>
      <p style="color: red" ></p>
      <input type="number" class="form-control" id="customerPhone" >
    </div>

    <div class="mb-3">
      <label for="customerEmail" class="form-label">customerEmail</label>
      <p style="color: red" ></p>
      <input type="text" class="form-control" id="customerEmail" >
    </div>

    <div class="mb-3">
      <label for="customerAddress" class="form-label">customerAddress</label>
      <p style="color: red"></p>
      <input type="text" class="form-control" id="customerAddress" >
    </div>
    <div>
      <button class="btn btn-outline-success" type="submit" >Update</button>
    </div>
  </form>
</div>

