<div class="row bg-warning" >
  <div class="col-md-6">
    <h3> Liên hệ</h3>
    <h6>
      103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</h6>
    <h6>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</h6>
    <h6> Email: reservation@furamavietnam.com * www.furamavietnam.com GDS Codes: Amadeus-GD DADFUR,</h6>
    <h6> Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</h6>
  </div>
  <div class="col-md-4">
    <h3> Hướng Dẫn Di Chuyển</h3>
    <h6>
      Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á.
      Địa chỉ chi tiết như bản đồ bên
    </h6>
  </div>
  <div class="col-md-2">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.491772817447!2d108.24887941400776!3d16.039950744484408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420fdbc8cc38ef%3A0x9a6a3e31121225d2!2sFurama%20Resort%20Danang!5e0!3m2!1svi!2s!4v1672327410548!5m2!1svi!2s"
              width="200" height="150" style="border:1px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
