<div class="d-flex justify-content-center">
  <form class=" w-50  border border-2 border-success p-3 rounded formCSS" [formGroup]="formContractUpdate"
        (ngSubmit)="updateContract()">
    <div class="form-group">
      <label for="">Id</label>
      <input type="number" id="" class="form-control" formControlName="id">
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="date" id="startDate" class="form-control" formControlName="startDate">
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.startDate.touched&&formContractUpdate.controls.startDate?.errors?.required">Khong duoc de trong</p>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="date" id="endDate" class="form-control" formControlName="endDate">
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.endDate.touched&&formContractUpdate.controls.endDate?.errors?.required">Khong duoc de trong</p>
    </div>
    <div class="form-group">
      <label for="deposit">Deposit</label>
      <input type="number" id="deposit" class="form-control" formControlName="deposit">
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.deposit.touched&&formContractUpdate.controls.deposit?.errors?.required">Khong duoc de trong</p>
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.deposit.dirty&&formContractUpdate.controls.deposit?.errors?.pattern">
        Phải là số nguyên dương
      </p>
    </div>
    <div class="form-group">
      <label for="facility">Facility Name</label>
      <select class="form-control" id="facility" formControlName="facility">
        <option *ngFor="let f of facilities" [ngValue]="f">{{f.name}}</option>
      </select>
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.facility.touched&&formContractUpdate.controls.facility?.errors?.required">Khong duoc de trong</p>
    </div>
    <div class="form-group">
      <label for="customer">Customer Name</label>
      <select class="form-control" id="customer" formControlName="customer">
        <option *ngFor="let f of customers" [ngValue]="f">{{f.name}}</option>
      </select>
      <p class="text-danger"
         *ngIf="formContractUpdate.controls.customer.touched&&formContractUpdate.controls.customer?.errors?.required">Khong duoc de trong</p>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formContractUpdate.invalid">Update</button>
  </form>
</div>


